<h1>Edit cholesky for interest rates</h1>

<%= form_for @choleskyir do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :EBITDA_EBITDA %><br />
    <%= f.text_field :EBITDA_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :EBITDA_EUR %><br />
    <%= f.text_field :EBITDA_EUR %>
  </div>
  <div class="field">
    <%= f.label :EBITDA_USD %><br />
    <%= f.text_field :EBITDA_USD %>
  </div>
  <div class="field">
    <%= f.label :EBITDA_GBP %><br />
    <%= f.text_field :EBITDA_GBP %>
  </div>
  <div class="field">
    <%= f.label :EBITDA_YEN %><br />
    <%= f.text_field :EBITDA_YEN %>
  </div>
  <div class="field">
    <%= f.label :EBITDA_BRL %><br />
    <%= f.text_field :EBITDA_BRL %>
  </div>

  <div class="field">
    <%= f.label :EUR_EBITDA %><br />
    <%= f.text_field :EUR_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :EUR_EUR %><br />
    <%= f.text_field :EUR_EUR %>
  </div>
  <div class="field">
    <%= f.label :EUR_USD %><br />
    <%= f.text_field :EUR_USD %>
  </div>
  <div class="field">
    <%= f.label :EUR_GBP %><br />
    <%= f.text_field :EUR_GBP %>
  </div>
  <div class="field">
    <%= f.label :EUR_YEN %><br />
    <%= f.text_field :EUR_YEN %>
  </div>
  <div class="field">
    <%= f.label :EUR_BRL %><br />
    <%= f.text_field :EUR_BRL %>
  </div>

  <div class="field">
    <%= f.label :USD_EBITDA %><br />
    <%= f.text_field :USD_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :USD_EUR %><br />
    <%= f.text_field :USD_EUR %>
  </div>
  <div class="field">
    <%= f.label :USD_USD %><br />
    <%= f.text_field :USD_USD %>
  </div>
  <div class="field">
    <%= f.label :USD_GBP %><br />
    <%= f.text_field :USD_GBP %>
  </div>
  <div class="field">
    <%= f.label :USD_YEN %><br />
    <%= f.text_field :USD_YEN %>
  </div>
  <div class="field">
    <%= f.label :USD_BRL %><br />
    <%= f.text_field :USD_BRL %>
  </div>

  <div class="field">
    <%= f.label :GBP_EBITDA %><br />
    <%= f.text_field :GBP_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :GBP_EUR %><br />
    <%= f.text_field :GBP_EUR %>
  </div>
  <div class="field">
    <%= f.label :GBP_USD %><br />
    <%= f.text_field :GBP_USD %>
  </div>
  <div class="field">
    <%= f.label :GBP_GBP %><br />
    <%= f.text_field :GBP_GBP %>
  </div>
  <div class="field">
    <%= f.label :GBP_YEN %><br />
    <%= f.text_field :GBP_YEN %>
  </div>
  <div class="field">
    <%= f.label :GBP_BRL %><br />
    <%= f.text_field :GBP_BRL %>
  </div>

  <div class="field">
    <%= f.label :YEN_EBITDA %><br />
    <%= f.text_field :YEN_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :YEN_EUR %><br />
    <%= f.text_field :YEN_EUR %>
  </div>
  <div class="field">
    <%= f.label :YEN_USD %><br />
    <%= f.text_field :YEN_USD %>
  </div>
  <div class="field">
    <%= f.label :YEN_GBP %><br />
    <%= f.text_field :YEN_GBP %>
  </div>
  <div class="field">
    <%= f.label :YEN_YEN %><br />
    <%= f.text_field :YEN_YEN %>
  </div>
  <div class="field">
    <%= f.label :YEN_BRL %><br />
    <%= f.text_field :YEN_BRL %>
  </div>

  <div class="field">
    <%= f.label :BRL_EBITDA %><br />
    <%= f.text_field :BRL_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :BRL_EUR %><br />
    <%= f.text_field :BRL_EUR %>
  </div>
  <div class="field">
    <%= f.label :BRL_USD %><br />
    <%= f.text_field :BRL_USD %>
  </div>
  <div class="field">
    <%= f.label :BRL_GBP %><br />
    <%= f.text_field :BRL_GBP %>
  </div>
  <div class="field">
    <%= f.label :BRL_YEN %><br />
    <%= f.text_field :BRL_YEN %>
  </div>
  <div class="field">
    <%= f.label :BRL_BRL %><br />
    <%= f.text_field :BRL_BRL %>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>