<h1>
  <%= @forwardcurve.currency %>
  <%= @forwardcurve.term %>
  <%= @forwardcurve.year_one %> 
  <%= @forwardcurve.year_two %> 
  <%= @forwardcurve.year_three %> 
  <%= @forwardcurve.year_four %> 
  <%= @forwardcurve.year_five %> 
  <%= @forwardcurve.year_six %> 
  <%= @forwardcurve.year_seven %> 
  <%= @forwardcurve.year_eight %> 
  <%= @forwardcurve.year_nine %> 
  <%= @forwardcurve.year_ten %>

</h1>








