<h1>
  <%= @group.group_name %>
  <%= @group.users.count %>
</h1>


<table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <%= render 'shared/user_form' %>
      </td>
    </tr>
</table>


<h1>Group members</h1>
<% @users.each do |user| %>
   <li>
     <%= link_to user.name, user %>
     <%if user.admin? %>
            <%= link_to "delete", user,   :method => :delete,
                                          :confirm => "You sure?",
                                          :title => user.name %>
     <% end%>
   </li>
<% end %>

<% if @group.basecases.count < 1 %>
  <% if current_user.name == 'mandeep3' %>
    <table class="front" summary="For signed-in users">
        <tr>
          <td class="main">
            <%= render 'shared/basecase_form' %>
          </td>
        </tr>
    </table>
  <% end %>
<% end %>

<h1>
   Existing debt portfolio 
</h1>  

  <% @basecases.each do |basecase| %>
     <li>
       <%= link_to basecase.name, basecase %>
       <%if current_user.name == 'mandeep3' %>

              <%= link_to "delete", basecase,   :method => :delete,
                                                :confirm => "You sure?" %>
      <% end%>
     </li>
  <% end %>
