<%= form_for @actannual do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :year_one %><br />
    <%= f.text_field :year_one, :value => @annual.year_one %>
  </div>
  <div class="field">
    <%= f.label :year_two %><br />  
    <%= f.text_field :year_two, :value => @annual.year_two %>
  </div>
  <div class="field">
    <%= f.label :year_three %><br />
    <%= f.text_field :year_three, :value => @annual.year_three %>
  </div>
  <div class="field">
    <%= f.label :year_four %><br />
    <%= f.text_field :year_four, :value => @annual.year_four %>
  </div>
  <div class="field">
    <%= f.label :year_five %><br />
    <%= f.text_field :year_five, :value => @annual.year_five %>
  </div>
  <div class="field">
    <%= f.label :year_six %><br />
    <%= f.text_field :year_six, :value => @annual.year_six %>
  </div>
  <div class="field">
    <%= f.label :year_seven %><br />
    <%= f.text_field :year_seven, :value => @annual.year_seven %>
  </div>
  <div class="field">
    <%= f.label :year_eight %><br />
    <%= f.text_field :year_eight, :value => @annual.year_eight %>
  </div>
  <div class="field">
    <%= f.label :year_nine %><br />
    <%= f.text_field :year_nine, :value => @annual.year_nine %>
  </div>
  <div class="field">
    <%= f.label :year_ten %><br />
    <%= f.text_field :year_ten, :value => @annual.year_ten %>
  </div>
  <%= hidden_field_tag :scenario_id, @scenario.id %>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>