<h1>
  <%= @swapcurve.currency %>
  <%= @swapcurve.year_one %> 
  <%= @swapcurve.year_two %> 
  <%= @swapcurve.year_three %> 
  <%= @swapcurve.year_four %> 
  <%= @swapcurve.year_five %> 
  <%= @swapcurve.year_six %> 
  <%= @swapcurve.year_seven %> 
  <%= @swapcurve.year_eight %> 
  <%= @swapcurve.year_nine %> 
  <%= @swapcurve.year_ten %>

</h1>








