<tr>
  <td class="micropost">
    <span class="content"><%= borrowing.size %></span>
    <span class="content"><%= borrowing.coupon %></span>
    <span class="content"><%= borrowing.issue_year %></span>
    <span class="content"><%= borrowing.maturity_year %></span>
    <span class="content"><%= borrowing.currency %></span>
    <span class="content"><%= borrowing.fixed_float %></span>
  </td>
</tr>