<h1>
  <%= @project.project_name %>
</h1>

<hr>

<h3>
  Add a scenario to your project, then compare scenarios
</h3>

<h6>Ensure your <%= link_to 'business financials', group_path(current_user.group.id) %> are up to date before creating a scenario</h6>

  <table class="front" summary="For signed-in users">
      <tr>
        <td class="main">
          <%= render 'shared/scenario_form' %>
        </td>
      </tr>
  </table>


<% @scenarios.each do |scenario| %>
   <li>
     <%= link_to scenario.name, scenario %>

            <%= link_to "delete", scenario,   :method => :delete,
                                              :confirm => "You sure?" %>
   </li>
<% end %>

<br/><hr><br/>

<h1>Total debt</h1>
<% @scenarios.each do |scenario| %>
<% @total_debt = scenario.total_debt(scenario.id) %>
     <b><%=scenario.name %></b><br />
     
     <% total = 0 %>
     <% @total_debt.each do |total_debt| %> 
          <% total = total_debt.size + total  %>  
     <% end %>
     <%= total %><br /><br />
      
<% end %>

<hr><br/>

<h1>Fixed percent of debt</h1>
<% @scenarios.each do |scenario| %>
<% @total_debt = scenario.total_debt(scenario.id) %>
<% @fixed_percent = scenario.fixed_percent(scenario.id) %>
     <b><%=scenario.name %></b><br />

     <% total = 0 %>
     <% @total_debt.each do |total_debt| %> 
          <% total = total_debt.size + total  %>  
     <% end %>
     
     <% fixed = 0 %>
     <% @fixed_percent.each do |fixed_percent| %>
          <% fixed = fixed_percent.size + fixed  %>  
     <% end %>
     <% if total > 0 %>
          <%= ((fixed/total)*100).round(2) %><br /><br />
     <% else %>
          <%= 0 %><br /><br />
     <% end %>
      
<% end %>

<hr><br/>

<h1>Currency mix of debt</h1>
<% @scenarios.each do |scenario| %>
<% @total_debt = scenario.total_debt(scenario.id) %>
<% @currency_percent = @scenario.total_debt(scenario.id).group_by{|c| c.currency } %>
     <b><%=scenario.name %></b><br />

     <% total = 0 %>
     <% @total_debt.each do |total_debt| %> 
          <% total = total_debt.size + total  %>  
     <% end %>
     
     <% @currency_percent.each do |currency, debt|  %>
     <% total_currency = 0 %>
     <h3><%= currency %></h3>  
         <% debt.each do |debt| %>
             <% total_currency = debt.size + total_currency  %>  
         <% end %>   
     <% if total > 0 %>
          <%= ((total_currency/total)*100).round(2) %><br /><br />
     <% else %>
          <%= 0 %><br /><br />
     <% end %>
     <% end %>      
<% end %>

<br/><hr><br/>

<h1>Floating percent of debt</h1>
<% @scenarios.each do |scenario| %>
<% @total_debt = scenario.total_debt(scenario.id) %>
<% @float_percent = @scenario.total_debt(scenario.id).group_by{|c| c.fixed_float } %>
     <b><%=scenario.name %></b><br />

     <% total = 0 %>
     <% @total_debt.each do |total_debt| %> 
          <% total = total_debt.size + total  %>  
     <% end %>
     

     <% @float_percent.each do |fixed_float, debt| %>
          <% total_float = 0 %>
          <h3><%= fixed_float %></h3>
         <% debt.each do |debt| %>  
            <% total_float = debt.size + total_float  %>
         <% end %>  
     <% if total > 0 %>
          <%= ((total_float/total)*100).round(2) %><br /><br />
     <% else %>
          <%= 0 %><br /><br />
     <% end %>
     <% end %>      
<% end %>

<br/><hr><br/>

<h1>Term mix of debt</h1>
<% @scenarios.each do |scenario| %>
<% @total_debt = scenario.total_debt(scenario.id) %>
<% @maturity_percent = @scenario.total_debt(scenario.id).group_by{|c| c.maturity_year - c.issue_year } %>
     <b><%=scenario.name %></b><br />

     <% total = 0 %>
     <% @total_debt.each do |total_debt| %> 
          <% total = total_debt.size + total  %>  
     <% end %>
     

     <% @maturity_percent.each do |term, debt| %>
     <% total_term = 0 %>
     <h3><%= term %> years </h3>
       <% debt.each do |debt| %>  
          <% total_term = debt.size + total_term  %>  
       <% end %>      
     <% if total > 0 %>
          <%= ((total_term/total)*100).round(2) %><br /><br />
     <% else %>
          <%= 0 %><br /><br />
     <% end %>
     <% end %>      
<% end %>

<br/><hr><br/>

<h1>Reset mix of debt</h1>
<% @scenarios.each do |scenario| %>
<% @total_debt = scenario.total_debt(scenario.id) %>
<% @reset_percent = @scenario.total_debt(scenario.id).group_by{|c| c.maturity_year - Time.now.year }  %>
     <b><%=scenario.name %></b><br />

     <% total = 0 %>
     <% @total_debt.each do |total_debt| %> 
          <% total = total_debt.size + total  %>  
     <% end %>
     

     <% @reset_percent.each do |term, debt| %>
     <% total_reset = 0 %>
     <h3><%= term %> years </h3>
       <% debt.each do |debt| %>  
          <% total_reset = debt.size + total_reset  %>  
       <% end %>      
     <% if total > 0 %>
          <%= ((total_reset/total)*100).round(2) %><br /><br />
     <% else %>
          <%= 0 %><br /><br />
     <% end %>
     <% end %>      
<% end %>


<hr><br/>

<% @scenarios.each do |scenario| %>
<% @total_debt = scenario.total_debt(scenario.id) %>

     <b><%=scenario.name %></b><br />

     <% total = 0 %>
     <% @total_debt.each do |total_debt| %> 
          <% total = total_debt.size + total  %>  
     <% end %>
     <% if total > 0 %>
         <h1>Macaulay duration</h1> 
         <%= (scenario.macaulay_duration(scenario.id)/total).round(2) %><br />
     <% else %>
         <%= 0 %><br />
     <% end %>  
<% end %>