<tr>
  <td class="micropost">
    <span class="content"><%= actborrowing.size %></span>
    <span class="content"><%= actborrowing.coupon %></span>
    <span class="content"><%= actborrowing.issue_year %></span>
    <span class="content"><%= actborrowing.maturity_year %></span>
    <span class="content"><%= actborrowing.currency %></span>
    <span class="content"><%= actborrowing.fixed_float %></span>
  </td>
</tr>