<tr>
  <td class="micropost">
    <span class="content"><%= annual.year_one %></span>
    <span class="content"><%= annual.year_two %></span>
    <span class="content"><%= annual.year_three %></span>
    <span class="content"><%= annual.year_four %></span>
    <span class="content"><%= annual.year_five %></span>
    <span class="content"><%= annual.year_six %></span>
    <span class="content"><%= annual.year_seven %></span>
    <span class="content"><%= annual.year_eight %></span>
    <span class="content"><%= annual.year_nine %></span>
    <span class="content"><%= annual.year_ten %></span>

    <span class="content"><%= annual.capex_one %></span>
    <span class="content"><%= annual.capex_two %></span>
    <span class="content"><%= annual.capex_three %></span>
    <span class="content"><%= annual.capex_four %></span>
    <span class="content"><%= annual.capex_five %></span>
    <span class="content"><%= annual.capex_six %></span>
    <span class="content"><%= annual.capex_seven %></span>
    <span class="content"><%= annual.capex_eight %></span>
    <span class="content"><%= annual.capex_nine %></span>
    <span class="content"><%= annual.capex_ten %></span>

    <span class="content"><%= annual.rd_one %></span>
    <span class="content"><%= annual.rd_two %></span>
    <span class="content"><%= annual.rd_three %></span>
    <span class="content"><%= annual.rd_four %></span>
    <span class="content"><%= annual.rd_five %></span>
    <span class="content"><%= annual.rd_six %></span>
    <span class="content"><%= annual.rd_seven %></span>
    <span class="content"><%= annual.rd_eight %></span>
    <span class="content"><%= annual.rd_nine %></span>
    <span class="content"><%= annual.rd_ten %></span>


    <span class="content"><%= annual.cashout_one %></span>
    <span class="content"><%= annual.cashout_two %></span>
    <span class="content"><%= annual.cashout_three %></span>
    <span class="content"><%= annual.cashout_four %></span>
    <span class="content"><%= annual.cashout_five %></span>
    <span class="content"><%= annual.cashout_six %></span>
    <span class="content"><%= annual.cashout_seven %></span>
    <span class="content"><%= annual.cashout_eight %></span>
    <span class="content"><%= annual.cashout_nine %></span>
    <span class="content"><%= annual.cashout_ten %></span>

    <span class="content"><%= annual.cashin_one %></span>
    <span class="content"><%= annual.cashin_two %></span>
    <span class="content"><%= annual.cashin_three %></span>
    <span class="content"><%= annual.cashin_four %></span>
    <span class="content"><%= annual.cashin_five %></span>
    <span class="content"><%= annual.cashin_six %></span>
    <span class="content"><%= annual.cashin_seven %></span>
    <span class="content"><%= annual.cashin_eight %></span>
    <span class="content"><%= annual.cashin_nine %></span>
    <span class="content"><%= annual.cashin_ten %></span>
  </td>
</tr>