<%= form_for @annual do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :year_one %><br />
    <%= f.text_field :year_one %>
  </div>
  <div class="field">
    <%= f.label :year_two %><br />  
    <%= f.text_field :year_two %>
  </div>
  <div class="field">
    <%= f.label :year_three %><br />
    <%= f.text_field :year_three %>
  </div>
  <div class="field">
    <%= f.label :year_four %><br />
    <%= f.text_field :year_four %>
  </div>
  <div class="field">
    <%= f.label :year_five %><br />
    <%= f.text_field :year_five %>
  </div>
  <div class="field">
    <%= f.label :year_six %><br />
    <%= f.text_field :year_six %>
  </div>
  <div class="field">
    <%= f.label :year_seven %><br />
    <%= f.text_field :year_seven %>
  </div>
  <div class="field">
    <%= f.label :year_eight %><br />
    <%= f.text_field :year_eight %>
  </div>
  <div class="field">
    <%= f.label :year_nine %><br />
    <%= f.text_field :year_nine %>
  </div>
  <div class="field">
    <%= f.label :year_ten %><br />
    <%= f.text_field :year_ten %>
  </div>




  <div class="field">
    <%= f.label :capex_one %><br />
    <%= f.text_field :capex_one %>
  </div>
  <div class="field">
    <%= f.label :capex_two %><br />  
    <%= f.text_field :capex_two %>
  </div>
  <div class="field">
    <%= f.label :capex_three %><br />
    <%= f.text_field :capex_three %>
  </div>
  <div class="field">
    <%= f.label :capex_four %><br />
    <%= f.text_field :capex_four %>
  </div>
  <div class="field">
    <%= f.label :capex_five %><br />
    <%= f.text_field :capex_five %>
  </div>
  <div class="field">
    <%= f.label :capex_six %><br />
    <%= f.text_field :capex_six %>
  </div>
  <div class="field">
    <%= f.label :capex_seven %><br />
    <%= f.text_field :capex_seven %>
  </div>
  <div class="field">
    <%= f.label :capex_eight %><br />
    <%= f.text_field :capex_eight %>
  </div>
  <div class="field">
    <%= f.label :capex_nine %><br />
    <%= f.text_field :capex_nine %>
  </div>
  <div class="field">
    <%= f.label :capex_ten %><br />
    <%= f.text_field :capex_ten %>
  </div>


  <div class="field">
    <%= f.label :rd_one %><br />
    <%= f.text_field :rd_one %>
  </div>
  <div class="field">
    <%= f.label :rd_two %><br />  
    <%= f.text_field :rd_two %>
  </div>
  <div class="field">
    <%= f.label :rd_three %><br />
    <%= f.text_field :rd_three %>
  </div>
  <div class="field">
    <%= f.label :rd_four %><br />
    <%= f.text_field :rd_four %>
  </div>
  <div class="field">
    <%= f.label :rd_five %><br />
    <%= f.text_field :rd_five %>
  </div>
  <div class="field">
    <%= f.label :rd_six %><br />
    <%= f.text_field :rd_six %>
  </div>
  <div class="field">
    <%= f.label :rd_seven %><br />
    <%= f.text_field :rd_seven %>
  </div>
  <div class="field">
    <%= f.label :rd_eight %><br />
    <%= f.text_field :rd_eight %>
  </div>
  <div class="field">
    <%= f.label :rd_nine %><br />
    <%= f.text_field :rd_nine %>
  </div>
  <div class="field">
    <%= f.label :rd_ten %><br />
    <%= f.text_field :rd_ten %>
  </div>


  <div class="field">
    <%= f.label :cashout_one %><br />
    <%= f.text_field :cashout_one %>
  </div>
  <div class="field">
    <%= f.label :cashout_two %><br />  
    <%= f.text_field :cashout_two %>
  </div>
  <div class="field">
    <%= f.label :cashout_three %><br />
    <%= f.text_field :cashout_three %>
  </div>
  <div class="field">
    <%= f.label :cashout_four %><br />
    <%= f.text_field :cashout_four %>
  </div>
  <div class="field">
    <%= f.label :cashout_five %><br />
    <%= f.text_field :cashout_five %>
  </div>
  <div class="field">
    <%= f.label :cashout_six %><br />
    <%= f.text_field :cashout_six %>
  </div>
  <div class="field">
    <%= f.label :cashout_seven %><br />
    <%= f.text_field :cashout_seven %>
  </div>
  <div class="field">
    <%= f.label :cashout_eight %><br />
    <%= f.text_field :cashout_eight %>
  </div>
  <div class="field">
    <%= f.label :cashout_nine %><br />
    <%= f.text_field :cashout_nine %>
  </div>
  <div class="field">
    <%= f.label :cashout_ten %><br />
    <%= f.text_field :cashout_ten %>
  </div>


  <div class="field">
    <%= f.label :cashin_one %><br />
    <%= f.text_field :cashin_one %>
  </div>
  <div class="field">
    <%= f.label :cashin_two %><br />  
    <%= f.text_field :cashin_two %>
  </div>
  <div class="field">
    <%= f.label :cashin_three %><br />
    <%= f.text_field :cashin_three %>
  </div>
  <div class="field">
    <%= f.label :cashin_four %><br />
    <%= f.text_field :cashin_four %>
  </div>
  <div class="field">
    <%= f.label :cashin_five %><br />
    <%= f.text_field :cashin_five %>
  </div>
  <div class="field">
    <%= f.label :cashin_six %><br />
    <%= f.text_field :cashin_six %>
  </div>
  <div class="field">
    <%= f.label :cashin_seven %><br />
    <%= f.text_field :cashin_seven %>
  </div>
  <div class="field">
    <%= f.label :cashin_eight %><br />
    <%= f.text_field :cashin_eight %>
  </div>
  <div class="field">
    <%= f.label :cashin_nine %><br />
    <%= f.text_field :cashin_nine %>
  </div>
  <div class="field">
    <%= f.label :cashin_ten %><br />
    <%= f.text_field :cashin_ten %>
  </div>

  <div class="field">
    <%= f.label :tax_rate %><br />
    <%= f.text_field :tax_rate %>
  </div>
  <div class="field">
    <%= f.label :dividend_policy %><br />
    <%= f.text_field :dividend_policy %>
  </div>
  <div class="field">
    <%= f.label :ev_ebitda %><br />
    <%= f.text_field :ev_ebitda %>
  </div>

  <div class="field">
    <%= f.label :assets %><br />
    <%= f.text_field :assets %>
  </div>
  <div class="field">
    <%= f.label :cash %><br />
    <%= f.text_field :cash %>
  </div>
  <div class="field">
    <%= f.label :liabs %><br />
    <%= f.text_field :liabs %>
  </div>
  <div class="field">
    <%= f.label :equity %><br />
    <%= f.text_field :equity %>
  </div>

  <%= hidden_field_tag :basecase_id, @basecase.id %>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>