<h1>
  <%= @scenario.name %>
</h1>

<hr><br/>

<h1>EBITDA for the scenario</h1>

<% @actannuals.each do |actannual| %>
   <li>
     <%= link_to actannual.year_one, actannual %>
     <%if current_user.admin? || current_user.name=='mandeep3' %>

            <%= link_to "delete", actannual,   :method => :delete,
                                               :confirm => "You sure?" %>
            <%= link_to "edit", edit_actannual_path(actannual) %>
    <% end %>
    
   </li>
<% end %>


<% if @scenario.actannuals.count < 1 %>
<table class="front" summary="For signed-in users">
      <tr>
        <td class="main">
          <%= render 'shared/actannual_form' %>
        </td>
      </tr>
</table>
<% end %>

<br/><br/><hr><br/>

<h1>Edit or accept the existing debt portfolio for this scenario</h1>

<% 
     arr = Array.new 
     @borrowings.each do |borrowing| 
         arr << borrowing.id     
     end
%>


<% arr.each do |i| %>
<% j = 0 %>      

      <% @actborrowings.each do |actborrowing| %>
          <% if actborrowing.top_borrowing == i %> 
              <li>
                  <%= link_to actborrowing.size, actborrowing %>

              <%if current_user.admin? || current_user.name=='mandeep3' %>

                  <%= link_to "delete", actborrowing,   :method => :delete,
                                                        :confirm => "You sure?" %>
                  <%= link_to "edit", edit_actborrowing_path(actborrowing) %>
              <% end%>
              </li> 
         <%  j = 1 %>
         <% end %>
     <% next %>
     <% end %> 
      

              <% @borrowings.each do |borrowing| %>
                  <% if j > 0 || borrowing.id != i %>
                  <% next %>
                  <% else %> 
                  <%= form_for @actborrowing do |f| %>
                      <%= render 'shared/error_messages', :object => f.object %>
                      <div class="field">
                        <%= f.label :size %><br />
                        <%= f.text_field :size, :value => borrowing.size %>
                      </div>
                      <div class="field">
                        <%= f.label :coupon %> (for floating debt enter the credit spread)<br />
                        <%= f.text_field :coupon, :value => borrowing.coupon %>
                      </div>
                      <div class="field">
                        <%= f.label :issue_year %><br />
                        <%= f.text_field :issue_year, :value => borrowing.issue_year %>
                     </div>
                     <div class="field">
                       <%= f.label :maturity_year %><br />
                       <%= f.text_field :maturity_year, :value => borrowing.maturity_year %>
                     </div>
                     <div class="field">
                       <%= f.label :currency %><br />
                       <%= f.text_field :currency, :value => borrowing.currency %>
                     </div>
                     <div class="field">
                       <%= f.label :fixed_float %><br />
                       <%= f.text_field :fixed_float, :value => borrowing.fixed_float %>
                     </div>
                     <%= f.hidden_field :top_borrowing, :value => borrowing.id %>
                     <%= hidden_field_tag :scenario_id, @scenario.id %>
                     <div class="actions">
                       <%= f.submit "Submit" %>
                     </div>
                <% end %>
                <% end %>
           <% end %>

<% end %>

<h1>Add new debt for this scenario</h1>

      <% @actborrowings.each do |actborrowing| %>
          <% if actborrowing.top_borrowing.nil? %> 
              <li>
                  <%= link_to actborrowing.size, actborrowing %>

              <%if current_user.admin? || current_user.name=='mandeep3' %>

                  <%= link_to "delete", actborrowing,   :method => :delete,
                                                        :confirm => "You sure?" %>
                  <%= link_to "edit", edit_actborrowing_path(actborrowing) %>
              <% end%>
              </li> 
         <%  j = 1 %>
         <% end %>
     <% next %>
     <% end %> 

<%= form_for @actborrowing do |f| %>
                      <%= render 'shared/error_messages', :object => f.object %>
                      <div class="field">
                        <%= f.label :size %><br />
                        <%= f.text_field :size%>
                      </div>
                      <div class="field">
                        <%= f.label :coupon %> (for floating debt enter the credit spread)<br />
                        <%= f.text_field :coupon%>
                      </div>
                      <div class="field">
                        <%= f.label :issue_year %><br />
                        <%= f.text_field :issue_year %>
                     </div>
                     <div class="field">
                       <%= f.label :maturity_year %><br />
                       <%= f.text_field :maturity_year %>
                     </div>
                     <div class="field">
                       <%= f.label :currency %><br />
                       <%= f.text_field :currency%>
                     </div>
                     <div class="field">
                       <%= f.label :fixed_float %><br />
                       <%= f.select :fixed_float, options_for_select([['Fixed','Fixed'],['Float',Float]], 'Fixed') %>
                     </div>
                     <%= hidden_field_tag :scenario_id, @scenario.id %>
                     <div class="actions">
                       <%= f.submit "Submit" %>
                     </div>
<% end %>

<br/><br/><hr><br/>

<h1>Total debt</h1>

<% total = 0 %>
<% @total_debt.each do |total_debt| %>
     <% total = total_debt.size + total  %>
<% end %>
<%= total %>

<br/><br/><hr><br/>


<h1>Fixed/float mix</h1>

<% fixed_float_name = [] %>
<% fixed_float_amount = []%>

<% @float_percent.each do |fixed_float, debt| %>  
  <% total_float = 0 %>
  <h3><%= fixed_float %></h3>
  <% fixed_float_name << fixed_float %>  
    <% debt.each do |debt| %>
      <% total_float = total_float + debt.size %>  
    <% end %>
  <% if total > 0 %>  
    <%= (total_float/total * 100).round(2) %>%
  <% else %>
    <%= 0 %>
  <% end %>
  <% fixed_float_amount << total_float %>
<% end %> 
<br />
<img src="<%=Gchart.pie(:data => fixed_float_amount, :labels => fixed_float_amount, :legend => fixed_float_name)%>">


<br/><br/><hr><br/>

<h1>Currency mix of debt</h1>

<% currency_name = [] %>
<% currency_amount = []%>

<% @currency_percent.each do |currency, debt| %>  
  <% total_currency = 0 %>
  <h3><%= currency %></h3>
  <% currency_name << currency %>      
    <% debt.each do |debt| %>
      <% total_currency = total_currency + debt.size %>  
    <% end %>    
  <% if total > 0 %>  
      <%= (total_currency/total * 100).round(2) %>%
  <% else %>
    <%= 0 %>
  <% end %>
  <% currency_amount << total_currency %>
<% end %> 
<br />
<img src="<%=Gchart.pie(:data => currency_amount, :labels => currency_amount, :legend => currency_name)%>">


<br/><br/><hr><br/>

<h1>Term mix</h1>

<% term_name = [] %>
<% term_amount = []%>

<% @maturity_percent.each do |term, debt| %>  
  <% total_term = 0 %>
  <h3><%= term %> years </h3>
  <% term_name << term %>    
    <% debt.each do |debt| %>
      <% total_term = total_term + debt.size %>  
    <% end %>
  <% if total > 0 %>   
      <%= (total_term/total * 100).round(2) %>%
  <% else %>
    <%= 0 %>
  <% end %>
  <% term_amount << total_term %> 
<% end %>
<br />
<img src="<%=Gchart.pie(:data => term_amount, :labels => term_amount, :legend => term_name)%>">
<br/><br/><hr><br/>

<h1>Macaulay duration</h1>
<% if total > 0 %> 
 <%= (@scenario.macaulay_duration(@scenario.id)/total).round(2) %>
<% else %>
   <%= 0 %><br />
<% end %>  

<br/><br/>




