<h1>
  <%= @scenario.name %>
</h1>

<hr><br/>

<h1>EBITDA for the scenario</h1>

<% if @scenario.actannuals.count < 1 %>
<table class="front" summary="For signed-in users">
      <tr>
        <td class="main">
  
            <%= form_for @actannual do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :year_one %><br />
    <%= f.text_field :year_one, :value => @annual.year_one %>
  </div>
  <div class="field">
    <%= f.label :year_two %><br />  
    <%= f.text_field :year_two, :value => @annual.year_two %>
  </div>
  <div class="field">
    <%= f.label :year_three %><br />
    <%= f.text_field :year_three, :value => @annual.year_three %>
  </div>
  <div class="field">
    <%= f.label :year_four %><br />
    <%= f.text_field :year_four, :value => @annual.year_four %>
  </div>
  <div class="field">
    <%= f.label :year_five %><br />
    <%= f.text_field :year_five, :value => @annual.year_five %>
  </div>
  <div class="field">
    <%= f.label :year_six %><br />
    <%= f.text_field :year_six, :value => @annual.year_six %>
  </div>
  <div class="field">
    <%= f.label :year_seven %><br />
    <%= f.text_field :year_seven, :value => @annual.year_seven %>
  </div>
  <div class="field">
    <%= f.label :year_eight %><br />
    <%= f.text_field :year_eight, :value => @annual.year_eight %>
  </div>
  <div class="field">
    <%= f.label :year_nine %><br />
    <%= f.text_field :year_nine, :value => @annual.year_nine %>
  </div>
  <div class="field">
    <%= f.label :year_ten %><br />
    <%= f.text_field :year_ten, :value => @annual.year_ten %>
  </div>


  <div class="field">
    <%= f.label :capex_one %><br />
    <%= f.text_field :capex_one, :value => @annual.capex_one %>
  </div>
  <div class="field">
    <%= f.label :capex_two %><br />  
    <%= f.text_field :capex_two, :value => @annual.capex_two %>
  </div>
  <div class="field">
    <%= f.label :capex_three %><br />
    <%= f.text_field :capex_three, :value => @annual.capex_three %>
  </div>
  <div class="field">
    <%= f.label :capex_four %><br />
    <%= f.text_field :capex_four, :value => @annual.capex_four %>
  </div>
  <div class="field">
    <%= f.label :capex_five %><br />
    <%= f.text_field :capex_five, :value => @annual.capex_five %>
  </div>
  <div class="field">
    <%= f.label :capex_six %><br />
    <%= f.text_field :capex_six, :value => @annual.capex_six %>
  </div>
  <div class="field">
    <%= f.label :capex_seven %><br />
    <%= f.text_field :capex_seven, :value => @annual.capex_seven %>
  </div>
  <div class="field">
    <%= f.label :capex_eight %><br />
    <%= f.text_field :capex_eight, :value => @annual.capex_eight %>
  </div>
  <div class="field">
    <%= f.label :capex_nine %><br />
    <%= f.text_field :capex_nine, :value => @annual.capex_nine %>
  </div>
  <div class="field">
    <%= f.label :capex_ten %><br />
    <%= f.text_field :capex_ten, :value => @annual.capex_ten %>
  </div>


  <div class="field">
    <%= f.label :rd_one %><br />
    <%= f.text_field :rd_one, :value => @annual.rd_one %>
  </div>
  <div class="field">
    <%= f.label :rd_two %><br />  
    <%= f.text_field :rd_two, :value => @annual.rd_two %>
  </div>
  <div class="field">
    <%= f.label :rd_three %><br />
    <%= f.text_field :rd_three, :value => @annual.rd_three %>
  </div>
  <div class="field">
    <%= f.label :rd_four %><br />
    <%= f.text_field :rd_four, :value => @annual.rd_four %>
  </div>
  <div class="field">
    <%= f.label :rd_five %><br />
    <%= f.text_field :rd_five, :value => @annual.rd_five %>
  </div>
  <div class="field">
    <%= f.label :rd_six %><br />
    <%= f.text_field :rd_six, :value => @annual.rd_six %>
  </div>
  <div class="field">
    <%= f.label :rd_seven %><br />
    <%= f.text_field :rd_seven, :value => @annual.rd_seven %>
  </div>
  <div class="field">
    <%= f.label :rd_eight %><br />
    <%= f.text_field :rd_eight, :value => @annual.rd_eight %>
  </div>
  <div class="field">
    <%= f.label :rd_nine %><br />
    <%= f.text_field :rd_nine, :value => @annual.rd_nine %>
  </div>
  <div class="field">
    <%= f.label :rd_ten %><br />
    <%= f.text_field :rd_ten, :value => @annual.rd_ten %>
  </div>


  <div class="field">
    <%= f.label :cashout_one %><br />
    <%= f.text_field :cashout_one, :value => @annual.cashout_one %>
  </div>
  <div class="field">
    <%= f.label :cashout_two %><br />  
    <%= f.text_field :cashout_two, :value => @annual.cashout_two %>
  </div>
  <div class="field">
    <%= f.label :cashout_three %><br />
    <%= f.text_field :cashout_three, :value => @annual.cashout_three %>
  </div>
  <div class="field">
    <%= f.label :cashout_four %><br />
    <%= f.text_field :cashout_four, :value => @annual.cashout_four %>
  </div>
  <div class="field">
    <%= f.label :cashout_five %><br />
    <%= f.text_field :cashout_five, :value => @annual.cashout_five %>
  </div>
  <div class="field">
    <%= f.label :cashout_six %><br />
    <%= f.text_field :cashout_six, :value => @annual.cashout_six %>
  </div>
  <div class="field">
    <%= f.label :cashout_seven %><br />
    <%= f.text_field :cashout_seven, :value => @annual.cashout_seven %>
  </div>
  <div class="field">
    <%= f.label :cashout_eight %><br />
    <%= f.text_field :cashout_eight, :value => @annual.cashout_eight %>
  </div>
  <div class="field">
    <%= f.label :cashout_nine %><br />
    <%= f.text_field :cashout_nine, :value => @annual.cashout_nine %>
  </div>
  <div class="field">
    <%= f.label :cashout_ten %><br />
    <%= f.text_field :cashout_ten, :value => @annual.cashout_ten %>
  </div>


  <div class="field">
    <%= f.label :cashin_one %><br />
    <%= f.text_field :cashin_one, :value => @annual.cashin_one %>
  </div>
  <div class="field">
    <%= f.label :cashin_two %><br />  
    <%= f.text_field :cashin_two, :value => @annual.cashin_two %>
  </div>
  <div class="field">
    <%= f.label :cashin_three %><br />
    <%= f.text_field :cashin_three, :value => @annual.cashin_three %>
  </div>
  <div class="field">
    <%= f.label :cashin_four %><br />
    <%= f.text_field :cashin_four, :value => @annual.cashin_four %>
  </div>
  <div class="field">
    <%= f.label :cashin_five %><br />
    <%= f.text_field :cashin_five, :value => @annual.cashin_five %>
  </div>
  <div class="field">
    <%= f.label :cashin_six %><br />
    <%= f.text_field :cashin_six, :value => @annual.cashin_six %>
  </div>
  <div class="field">
    <%= f.label :cashin_seven %><br />
    <%= f.text_field :cashin_seven, :value => @annual.cashin_seven %>
  </div>
  <div class="field">
    <%= f.label :cashin_eight %><br />
    <%= f.text_field :cashin_eight, :value => @annual.cashin_eight %>
  </div>
  <div class="field">
    <%= f.label :cashin_nine %><br />
    <%= f.text_field :cashin_nine, :value => @annual.cashin_nine %>
  </div>
  <div class="field">
    <%= f.label :cashin_ten %><br />
    <%= f.text_field :cashin_ten, :value => @annual.cashin_ten %>
  </div>

  <div class="field">
    <%= f.label :tax_rate %><br />
    <%= f.text_field :tax_rate, :value => @annual.tax_rate %>
  </div>
  <div class="field">
    <%= f.label :dividend_policy %><br />
    <%= f.text_field :dividend_policy, :value => @annual.dividend_policy %>
  </div>
  <div class="field">
    <%= f.label :ev_ebitda %><br />
    <%= f.text_field :ev_ebitda, :value => @annual.ev_ebitda %>
  </div>

  <div class="field">
    <%= f.label :assets %><br />
    <%= f.text_field :assets, :value => @annual.assets %>
  </div>
  <div class="field">
    <%= f.label :cash %><br />
    <%= f.text_field :cash, :value => @annual.cash %>
  </div>
  <div class="field">
    <%= f.label :liabs %><br />
    <%= f.text_field :liabs, :value => @annual.liabs %>
  </div>
  <div class="field">
    <%= f.label :equity %><br />
    <%= f.text_field :equity, :value => @annual.equity %>
  </div>

  <%= hidden_field_tag :scenario_id, @scenario.id %>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>

        </td>
      </tr>
</table>
<% end %>


<% @actannuals.each do |actannual| %>
   <li>
     <%= link_to actannual.year_one, actannual %>
     <%if current_user.admin? || current_user.name=='mandeep3' %>

            <%= link_to "delete", actannual,   :method => :delete,
                                               :confirm => "You sure?" %>
            <%= link_to "edit", edit_actannual_path(actannual) %>
    <% end %>
    
   </li>
<% end %>

<br/><br/><hr><br/>

<h1>Edit or accept the existing debt portfolio for this scenario</h1>

<% 
     arr = Array.new 
     @borrowings.each do |borrowing| 
         arr << borrowing.id     
     end
%>


<% arr.each do |i| %>
<% j = 0 %>      

      <% @actborrowings.each do |actborrowing| %>
          <% if actborrowing.top_borrowing == i %> 
              <li>
                  <%= link_to actborrowing.size, actborrowing %>

              <%if current_user.admin? || current_user.name=='mandeep3' %>

                  <%= link_to "delete", actborrowing,   :method => :delete,
                                                        :confirm => "You sure?" %>
                  <%= link_to "edit", edit_actborrowing_path(actborrowing) %>
              <% end%>
              </li> 
         <%  j = 1 %>
         <% end %>
     <% next %>
     <% end %> 
      

              <% @borrowings.each do |borrowing| %>
                  <% if j > 0 || borrowing.id != i %>
                  <% next %>
                  <% else %> 
                  <%= form_for @actborrowing do |f| %>
                      <%= render 'shared/error_messages', :object => f.object %>
                      <div class="field">
                        <%= f.label :size %><br />
                        <%= f.text_field :size, :value => borrowing.size %>
                      </div>
                      <div class="field">
                        <%= f.label :coupon %> (for floating debt enter the credit spread)<br />
                        <%= f.text_field :coupon, :value => borrowing.coupon %>
                      </div>
                      <div class="field">
                        <%= f.label :issue_year %><br />
                        <%= f.text_field :issue_year, :value => borrowing.issue_year %>
                     </div>
                     <div class="field">
                       <%= f.label :maturity_year %><br />
                       <%= f.text_field :maturity_year, :value => borrowing.maturity_year %>
                     </div>
                     <div class="field">
                       <%= f.label :currency %><br />
                       <%= f.text_field :currency, :value => borrowing.currency %>
                     </div>
                     <div class="field">
                       <%= f.label :fixed_float %><br />
                       <%= f.text_field :fixed_float, :value => borrowing.fixed_float %>
                     </div>
                     <%= f.hidden_field :top_borrowing, :value => borrowing.id %>
                     <%= hidden_field_tag :scenario_id, @scenario.id %>
                     <div class="actions">
                       <%= f.submit "Submit" %>
                     </div>
                <% end %>
                <% end %>
           <% end %>

<% end %>

<h1>Add new debt for this scenario</h1>

      <% @actborrowings.each do |actborrowing| %>
          <% if actborrowing.top_borrowing.nil? %> 
              <li>
                  <%= link_to actborrowing.size, actborrowing %>

              <%if current_user.admin? || current_user.name=='mandeep3' %>

                  <%= link_to "delete", actborrowing,   :method => :delete,
                                                        :confirm => "You sure?" %>
                  <%= link_to "edit", edit_actborrowing_path(actborrowing) %>
              <% end%>
              </li> 
         <%  j = 1 %>
         <% end %>
     <% next %>
     <% end %> 

<%= form_for @actborrowing do |f| %>
                      <%= render 'shared/error_messages', :object => f.object %>
                      <div class="field">
                        <%= f.label :size %><br />
                        <%= f.text_field :size%>
                      </div>
                      <div class="field">
                        <%= f.label :coupon %> (for floating debt enter the credit spread)<br />
                        <%= f.text_field :coupon%>
                      </div>
                      <div class="field">
                        <%= f.label :issue_year %><br />
                        <%= f.text_field :issue_year %>
                     </div>
                     <div class="field">
                       <%= f.label :maturity_year %><br />
                       <%= f.text_field :maturity_year %>
                     </div>
                     <div class="field">
                       <%= f.label :currency %><br />
                       <%= f.text_field :currency%>
                     </div>
                     <div class="field">
                       <%= f.label :fixed_float %><br />
                       <%= f.select :fixed_float, options_for_select([['Fixed','Fixed'],['Float',Float]], 'Fixed') %>
                     </div>
                     <%= hidden_field_tag :scenario_id, @scenario.id %>
                     <div class="actions">
                       <%= f.submit "Submit" %>
                     </div>
<% end %>

<br/><br/><hr><br/>

<h1>Total debt</h1>

<% total = 0 %>
<% @total_debt.each do |total_debt| %>
     <% total = total_debt.size + total  %>
<% end %>
<%= total %>

<br/><br/><hr><br/>


<h1>Fixed/float mix</h1>

<% fixed_float_name = [] %>
<% fixed_float_amount = []%>

<% @float_percent.each do |fixed_float, debt| %>  
  <% total_float = 0 %>
  <h3><%= fixed_float %></h3>
  <% fixed_float_name << fixed_float %>  
    <% debt.each do |debt| %>
      <% total_float = total_float + debt.size %>  
    <% end %>
  <% if total > 0 %>  
    <%= (total_float/total * 100).round(2) %>%
  <% else %>
    <%= 0 %>
  <% end %>
  <% fixed_float_amount << total_float %>
<% end %> 
<br />
<img src="<%=Gchart.pie(:data => fixed_float_amount, :labels => fixed_float_amount, :legend => fixed_float_name)%>">


<br/><br/><hr><br/>

<h1>Currency mix of debt</h1>

<% currency_name = [] %>
<% currency_amount = []%>

<% @currency_percent.each do |currency, debt| %>  
  <% total_currency = 0 %>
  <h3><%= currency %></h3>
  <% currency_name << currency %>      
    <% debt.each do |debt| %>
      <% total_currency = total_currency + debt.size %>  
    <% end %>    
  <% if total > 0 %>  
      <%= (total_currency/total * 100).round(2) %>%
  <% else %>
    <%= 0 %>
  <% end %>
  <% currency_amount << total_currency %>
<% end %> 
<br />
<img src="<%=Gchart.pie(:data => currency_amount, :labels => currency_amount, :legend => currency_name)%>">


<br/><br/><hr><br/>

<h1>Term mix</h1>

<% term_name = [] %>
<% term_amount = []%>

<% @maturity_percent.each do |term, debt| %>  
  <% total_term = 0 %>
  <h3><%= term %> years </h3>
  <% term_name << term %>    
    <% debt.each do |debt| %>
      <% total_term = total_term + debt.size %>  
    <% end %>
  <% if total > 0 %>   
      <%= (total_term/total * 100).round(2) %>%
  <% else %>
    <%= 0 %>
  <% end %>
  <% term_amount << total_term %> 
<% end %>
<br />
<img src="<%=Gchart.pie(:data => term_amount, :labels => term_amount, :legend => term_name)%>">
<br/><br/><hr><br/>

<h1>Macaulay duration</h1>
<% if total > 0 %> 
 <%= (@scenario.macaulay_duration(@scenario.id)/total).round(2) %>
<% else %>
   <%= 0 %><br />
<% end %>  

<br/><br/><hr><br/>

<h1>Annul interest expense</h1>
<% year_count = 0 %>
<% year_amount = [] %>
<% year = ['year 1', 'year 2', 'year 3'] %>
<% year.each do |year|%>
    
    <h3><%= year %></h3>
    <% total = 0 %> 
    <% @total_debt.each do |total_debt| %>
         <% if (total_debt.maturity_year - Time.now.year - year_count) > 0 %>            
            <% total = (total_debt.size * total_debt.coupon) + total  %>
         <% else %>
            <% total = total + 0 %>
         <% end %> 
    <% end %>
    <%= total %>
    <% year_amount << total %> 
    <% year_count = year_count + 1 %>
<% end %>
<br />
<img src="<%=Gchart.bar(:data => year_amount, :labels => ['year 1', 'year 2', 'year 3'], :bar_width_and_spacing => [19,40], :legend => year_amount)%>">
<br/><br/>



