<h1>
  <%= @scenario.name %>
</h1>



<% @actannuals.each do |actannual| %>
   <li>
     <%= link_to actannual.year_one, actannual %>
     <%if current_user.admin? || current_user.name=='mandeep3' %>

            <%= link_to "delete", actannual,   :method => :delete,
                                               :confirm => "You sure?" %>
            <%= link_to "edit", edit_actannual_path(actannual) %>
    <% end %>
    
   </li>
<% end %>


<% if @scenario.actannuals.count < 1 %>
<table class="front" summary="For signed-in users">
      <tr>
        <td class="main">
          <%= render 'shared/actannual_form' %>
        </td>
      </tr>
</table>
<% end %>

<% 
     arr = Array.new 
     @borrowings.each do |borrowing| 
         arr << borrowing.id     
     end
%>


<% arr.each do |i| %>
<% j = 0 %>      

      <% @actborrowings.each do |actborrowing| %>
          <% if actborrowing.top_borrowing == i %> 
              <li>
                  <%= link_to actborrowing.size, actborrowing %>
                  <%= link_to actborrowing.top_borrowing, actborrowing %>

              <%if current_user.admin? || current_user.name=='mandeep3' %>

                  <%= link_to "delete", actborrowing,   :method => :delete,
                                                        :confirm => "You sure?" %>
                  <%= link_to "edit", edit_actborrowing_path(actborrowing) %>
              <% end%>
              </li> 
         <%  j = 1 %>
         <% end %>
     <% next %>
     <% end %> 
      

              <% @borrowings.each do |borrowing| %>
                  <% if j > 0 || borrowing.id != i %>
                  <% next %>
                  <% else %> 
                  <%= form_for @actborrowing do |f| %>
                      <%= render 'shared/error_messages', :object => f.object %>
                      <div class="field">
                        <%= f.label :size %><br />
                        <%= f.text_field :size, :value => borrowing.size %>
                      </div>
                      <div class="field">
                        <%= f.label :coupon %><br />
                        <%= f.text_field :coupon, :value => borrowing.coupon %>
                      </div>
                      <div class="field">
                        <%= f.label :issue_year %><br />
                        <%= f.text_field :issue_year, :value => borrowing.issue_year %>
                     </div>
                     <div class="field">
                       <%= f.label :maturity_year %><br />
                       <%= f.text_field :maturity_year, :value => borrowing.maturity_year %>
                     </div>
                     <div class="field">
                       <%= f.label :currency %><br />
                       <%= f.text_field :currency, :value => borrowing.currency %>
                     </div>
                     <div class="field">
                       <%= f.label :fixed_float %><br />
                       <%= f.text_field :fixed_float, :value => borrowing.fixed_float %>
                     </div>
                     <%= f.hidden_field :top_borrowing, :value => borrowing.id %>
                     <%= hidden_field_tag :scenario_id, @scenario.id %>
                     <div class="actions">
                       <%= f.submit "Submit" %>
                     </div>
                <% end %>
                <% end %>
           <% end %>



<% end %>



<% total = 0 %>
<% @total_debt.each do |total_debt| %>
     <% total = total_debt.size + total  %>  
<% end %>
<%= total %>

<% fixed = 0 %>
<% @fixed_percent.each do |fixed_percent| %>
     <% fixed = fixed_percent.size + fixed  %>  
<% end %>
<% if total > 0 %>
  <%= ((fixed/total)*100).round(2) %>
<% else %>
  <%= 0 %>
<% end %>


<% @currency_percent.each do |currency, debt| %>  
<% total_currency = 0 %>
<h2><%= currency %></h2>  
  <% debt.each do |debt| %>
    <% total_currency = total_currency + debt.size %>  
  <% end %>
<% if total > 0 %>  
    <%= (total_currency/total * 100).round(2) %>
<% else %>
  <%= 0 %>
<% end %>
<% end %> 




<% @float_percent.each do |fixed_float, debt| %>  
<% total_float = 0 %>
<h2><%= fixed_float %></h2>  
  <% debt.each do |debt| %>
    <% total_float = total_float + debt.size %>  
  <% end %>
<% if total > 0 %>  
  <%= (total_float/total * 100).round(2) %>
<% else %>
  <%= 0 %>
<% end %>
<% end %> 


<% @maturity_percent.each do |term, debt| %>  
<% total_term = 0 %>
<h2><%= term %> years </h2>  
  <% debt.each do |debt| %>
    <% total_term = total_term + debt.size %>  
  <% end %>
<% if total > 0 %>   
    <%= (total_term/total * 100).round(2) %>
<% else %>
  <%= 0 %>
<% end %>
<% end %>


<% @reset_percent.each do |reset, debt| %>  
<% total_reset = 0 %>
<h2><%= reset %> years </h2>  
  <% debt.each do |debt| %>
    <% total_reset = total_reset + debt.size %>  
  <% end %>
<% if total > 0 %>   
    <h1>Reset risk</h1>
    <%= (total_reset/total * 100).round(2) %>
<% else %>
  <%= 0 %>
<% end %>
<% end %>



<% if total > 0 %> 
 <h1>Macaulay duration</h1>
 <%= (@scenario.macaulay_duration(@scenario.id)/total).round(2) %>
<% else %>
   <%= 0 %><br />
<% end %>  



