<h1>
  <%= @riskpremium.currency %>
  <%= @riskpremium.year_one %> 
  <%= @riskpremium.year_two %> 
  <%= @riskpremium.year_three %> 
  <%= @riskpremium.year_four %> 
  <%= @riskpremium.year_five %> 
  <%= @riskpremium.year_six %> 
  <%= @riskpremium.year_seven %> 
  <%= @riskpremium.year_eight %> 
  <%= @riskpremium.year_nine %> 
  <%= @riskpremium.year_ten %>

</h1>








