<tr>
  <td class="micropost">
    <span class="content"><%= actannual.year_one %></span>
    <span class="content"><%= actannual.year_two %></span>
    <span class="content"><%= actannual.year_three %></span>
    <span class="content"><%= actannual.year_four %></span>
    <span class="content"><%= actannual.year_five %></span>
    <span class="content"><%= actannual.year_six %></span>
    <span class="content"><%= actannual.year_seven %></span>
    <span class="content"><%= actannual.year_eight %></span>
    <span class="content"><%= actannual.year_nine %></span>
    <span class="content"><%= actannual.year_ten %></span>
  </td>
</tr>