<tr>
  <td class="micropost">
    <span class="content"><%= actannual.year_one %></span>
    <span class="content"><%= actannual.year_two %></span>
    <span class="content"><%= actannual.year_three %></span>
    <span class="content"><%= actannual.year_four %></span>
    <span class="content"><%= actannual.year_five %></span>
    <span class="content"><%= actannual.year_six %></span>
    <span class="content"><%= actannual.year_seven %></span>
    <span class="content"><%= actannual.year_eight %></span>
    <span class="content"><%= actannual.year_nine %></span>
    <span class="content"><%= actannual.year_ten %></span>

    <span class="content"><%= actannual.capex_one %></span>
    <span class="content"><%= actannual.capex_two %></span>
    <span class="content"><%= actannual.capex_three %></span>
    <span class="content"><%= actannual.capex_four %></span>
    <span class="content"><%= actannual.capex_five %></span>
    <span class="content"><%= actannual.capex_six %></span>
    <span class="content"><%= actannual.capex_seven %></span>
    <span class="content"><%= actannual.capex_eight %></span>
    <span class="content"><%= actannual.capex_nine %></span>
    <span class="content"><%= actannual.capex_ten %></span>

    <span class="content"><%= actannual.rd_one %></span>
    <span class="content"><%= actannual.rd_two %></span>
    <span class="content"><%= actannual.rd_three %></span>
    <span class="content"><%= actannual.rd_four %></span>
    <span class="content"><%= actannual.rd_five %></span>
    <span class="content"><%= actannual.rd_six %></span>
    <span class="content"><%= actannual.rd_seven %></span>
    <span class="content"><%= actannual.rd_eight %></span>
    <span class="content"><%= actannual.rd_nine %></span>
    <span class="content"><%= actannual.rd_ten %></span>


    <span class="content"><%= actannual.cashout_one %></span>
    <span class="content"><%= actannual.cashout_two %></span>
    <span class="content"><%= actannual.cashout_three %></span>
    <span class="content"><%= actannual.cashout_four %></span>
    <span class="content"><%= actannual.cashout_five %></span>
    <span class="content"><%= actannual.cashout_six %></span>
    <span class="content"><%= actannual.cashout_seven %></span>
    <span class="content"><%= actannual.cashout_eight %></span>
    <span class="content"><%= actannual.cashout_nine %></span>
    <span class="content"><%= actannual.cashout_ten %></span>

    <span class="content"><%= actannual.cashin_one %></span>
    <span class="content"><%= actannual.cashin_two %></span>
    <span class="content"><%= actannual.cashin_three %></span>
    <span class="content"><%= actannual.cashin_four %></span>
    <span class="content"><%= actannual.cashin_five %></span>
    <span class="content"><%= actannual.cashin_six %></span>
    <span class="content"><%= actannual.cashin_seven %></span>
    <span class="content"><%= actannual.cashin_eight %></span>
    <span class="content"><%= actannual.cashin_nine %></span>
    <span class="content"><%= actannual.cashin_ten %></span>

  </td>
</tr>