<h1>Edit cholesky</h1>

<%= form_for @cholesky do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :USD_USD_EBITDA %><br />
    <%= f.text_field :USD_USD_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :USD_GBP_EBITDA %><br />
    <%= f.text_field :USD_GBP_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :USD_EUR_EBITDA %><br />
    <%= f.text_field :USD_EUR_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :USD_YEN_EBITDA %><br />
    <%= f.text_field :USD_YEN_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :USD_BRL_EBITDA %><br />
    <%= f.text_field :USD_BRL_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :USD_fx12_EBITDA %><br />
    <%= f.text_field :USD_fx12_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :USD_fx13_EBITDA %><br />
    <%= f.text_field :USD_fx13_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :USD_fx14_EBITDA %><br />
    <%= f.text_field :USD_fx14_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :USD_fx15_EBITDA %><br />
    <%= f.text_field :USD_fx15_EBITDA %>
  </div>


  <div class="field">
    <%= f.label :EUR_USD_EBITDA %><br />
    <%= f.text_field :EUR_USD_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :EUR_GBP_EBITDA %><br />
    <%= f.text_field :EUR_GBP_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :EUR_EUR_EBITDA %><br />
    <%= f.text_field :EUR_EUR_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :EUR_YEN_EBITDA %><br />
    <%= f.text_field :EUR_YEN_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :EUR_BRL_EBITDA %><br />
    <%= f.text_field :EUR_BRL_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :EUR_fx12_EBITDA %><br />
    <%= f.text_field :EUR_fx12_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :EUR_fx13_EBITDA %><br />
    <%= f.text_field :EUR_fx13_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :EUR_fx14_EBITDA %><br />
    <%= f.text_field :EUR_fx14_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :EUR_fx15_EBITDA %><br />
    <%= f.text_field :EUR_fx15_EBITDA %>
  </div>

  <div class="field">
    <%= f.label :GBP_USD_EBITDA %><br />
    <%= f.text_field :GBP_USD_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :GBP_GBP_EBITDA %><br />
    <%= f.text_field :GBP_GBP_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :GBP_EUR_EBITDA %><br />
    <%= f.text_field :GBP_EUR_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :GBP_YEN_EBITDA %><br />
    <%= f.text_field :GBP_YEN_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :GBP_BRL_EBITDA %><br />
    <%= f.text_field :GBP_BRL_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :GBP_fx12_EBITDA %><br />
    <%= f.text_field :GBP_fx12_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :GBP_fx13_EBITDA %><br />
    <%= f.text_field :GBP_fx13_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :GBP_fx14_EBITDA %><br />
    <%= f.text_field :GBP_fx14_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :GBP_fx15_EBITDA %><br />
    <%= f.text_field :GBP_fx15_EBITDA %>
  </div>


  <div class="field">
    <%= f.label :YEN_USD_EBITDA %><br />
    <%= f.text_field :YEN_USD_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :YEN_GBP_EBITDA %><br />
    <%= f.text_field :YEN_GBP_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :YEN_EUR_EBITDA %><br />
    <%= f.text_field :YEN_EUR_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :YEN_YEN_EBITDA %><br />
    <%= f.text_field :YEN_YEN_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :YEN_BRL_EBITDA %><br />
    <%= f.text_field :YEN_BRL_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :YEN_fx12_EBITDA %><br />
    <%= f.text_field :YEN_fx12_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :YEN_fx13_EBITDA %><br />
    <%= f.text_field :YEN_fx13_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :YEN_fx14_EBITDA %><br />
    <%= f.text_field :YEN_fx14_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :YEN_fx15_EBITDA %><br />
    <%= f.text_field :YEN_fx15_EBITDA %>
  </div>


  <div class="field">
    <%= f.label :BRL_USD_EBITDA %><br />
    <%= f.text_field :BRL_USD_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :BRL_GBP_EBITDA %><br />
    <%= f.text_field :BRL_GBP_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :BRL_EUR_EBITDA %><br />
    <%= f.text_field :BRL_EUR_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :BRL_YEN_EBITDA %><br />
    <%= f.text_field :BRL_YEN_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :BRL_BRL_EBITDA %><br />
    <%= f.text_field :BRL_BRL_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :BRL_fx12_EBITDA %><br />
    <%= f.text_field :BRL_fx12_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :BRL_fx13_EBITDA %><br />
    <%= f.text_field :BRL_fx13_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :BRL_fx14_EBITDA %><br />
    <%= f.text_field :BRL_fx14_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :BRL_fx15_EBITDA %><br />
    <%= f.text_field :BRL_fx15_EBITDA %>
  </div>


  <div class="field">
    <%= f.label :fx12_USD_EBITDA %><br />
    <%= f.text_field :fx12_USD_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :fx12_GBP_EBITDA %><br />
    <%= f.text_field :fx12_GBP_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :fx12_EUR_EBITDA %><br />
    <%= f.text_field :fx12_EUR_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :fx12_YEN_EBITDA %><br />
    <%= f.text_field :fx12_YEN_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :fx12_BRL_EBITDA %><br />
    <%= f.text_field :fx12_BRL_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :fx12_fx12_EBITDA %><br />
    <%= f.text_field :fx12_fx12_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :fx12_fx13_EBITDA %><br />
    <%= f.text_field :fx12_fx13_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :fx12_fx14_EBITDA %><br />
    <%= f.text_field :fx12_fx14_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :fx12_fx15_EBITDA %><br />
    <%= f.text_field :fx12_fx15_EBITDA %>
  </div>


  <div class="field">
    <%= f.label :fx13_USD_EBITDA %><br />
    <%= f.text_field :fx13_USD_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :fx13_GBP_EBITDA %><br />
    <%= f.text_field :fx13_GBP_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :fx13_EUR_EBITDA %><br />
    <%= f.text_field :fx13_EUR_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :fx13_YEN_EBITDA %><br />
    <%= f.text_field :fx13_YEN_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :fx13_BRL_EBITDA %><br />
    <%= f.text_field :fx13_BRL_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :fx13_fx12_EBITDA %><br />
    <%= f.text_field :fx13_fx12_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :fx13_fx13_EBITDA %><br />
    <%= f.text_field :fx13_fx13_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :fx13_fx14_EBITDA %><br />
    <%= f.text_field :fx13_fx14_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :fx13_fx15_EBITDA %><br />
    <%= f.text_field :fx13_fx15_EBITDA %>
  </div>


  <div class="field">
    <%= f.label :fx14_USD_EBITDA %><br />
    <%= f.text_field :fx14_USD_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :fx14_GBP_EBITDA %><br />
    <%= f.text_field :fx14_GBP_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :fx14_EUR_EBITDA %><br />
    <%= f.text_field :fx14_EUR_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :fx14_YEN_EBITDA %><br />
    <%= f.text_field :fx14_YEN_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :fx14_BRL_EBITDA %><br />
    <%= f.text_field :fx14_BRL_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :fx14_fx12_EBITDA %><br />
    <%= f.text_field :fx14_fx12_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :fx14_fx13_EBITDA %><br />
    <%= f.text_field :fx14_fx13_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :fx14_fx14_EBITDA %><br />
    <%= f.text_field :fx14_fx14_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :fx14_fx15_EBITDA %><br />
    <%= f.text_field :fx14_fx15_EBITDA %>
  </div>



  <div class="field">
    <%= f.label :fx15_USD_EBITDA %><br />
    <%= f.text_field :fx15_USD_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :fx15_GBP_EBITDA %><br />
    <%= f.text_field :fx15_GBP_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :fx15_EUR_EBITDA %><br />
    <%= f.text_field :fx15_EUR_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :fx15_YEN_EBITDA %><br />
    <%= f.text_field :fx15_YEN_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :fx15_BRL_EBITDA %><br />
    <%= f.text_field :fx15_BRL_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :fx15_fx12_EBITDA %><br />
    <%= f.text_field :fx15_fx12_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :fx15_fx13_EBITDA %><br />
    <%= f.text_field :fx15_fx13_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :fx15_fx14_EBITDA %><br />
    <%= f.text_field :fx15_fx14_EBITDA %>
  </div>
  <div class="field">
    <%= f.label :fx15_fx15_EBITDA %><br />
    <%= f.text_field :fx15_fx15_EBITDA %>
  </div>


  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>