<h1>
  <%= @basecase.name %>
</h1>


<% if @basecase.annuals.count < 1%>

<table class="front" summary="For signed-in users">
      <tr>
        <td class="main">
          <%= render 'shared/annual_form' %>
        </td>
      </tr>
  </table>
<% end %>


<% @annuals.each do |annual| %>
   <li>
     <%= link_to annual.year_one, annual %>
     <%if current_user.admin? || current_user.name=='mandeep3' %>


            <%= link_to "edit", edit_annual_path(annual) %>
    <% end%>
    
   </li>
<% end %>


<table class="front" summary="For signed-in users">
      <tr>
        <td class="main">
          <%= render 'shared/borrowing_form' %>
        </td>
      </tr>
  </table>

<% @borrowings.each do |borrowing| %>
   <li>
     <%= link_to borrowing.size, borrowing %>
     <%if current_user.admin? || current_user.name=='mandeep3' %>

            <%= link_to "delete", borrowing,   :method => :delete,
                                               :confirm => "You sure?" %>
            <%= link_to "edit", edit_borrowing_path(borrowing) %>
    <% end%>
   </li>
<% end %>



<% total = 0 %>
<% @total_debt.each do |total_debt| %>
     <% total = total_debt.size + total  %>  
<% end %>
<%= total %>

<% fixed = 0 %>
<% @fixed_percent.each do |fixed_percent| %>
     <% fixed = fixed_percent.size + fixed  %>  
<% end %>
<%= (fixed/total)*100 %>


<% @currency_percent.each do |currency, debt| %>  
<% total_currency = 0 %>
<h2><%= currency %></h2>  
  <% debt.each do |debt| %>
    <% total_currency = total_currency + debt.size %>  
  <% end %>  
<%= total_currency/total * 100 %>
<% end %> 


<% @float_percent.each do |fixed_float, debt| %>  
<% total_float = 0 %>
<h2><%= fixed_float %></h2>  
  <% debt.each do |debt| %>
    <% total_float = total_float + debt.size %>  
  <% end %>  
<%= total_float/total * 100 %>
<% end %> 


<% @maturity_percent.each do |term, debt| %>  
<% total_term = 0 %>
<h2><%= term %> years </h2>  
  <% debt.each do |debt| %>
    <% total_term = total_term + debt.size %>  
  <% end %>  
<%= total_term/total * 100 %>
<% end %>

