<h1>
  <%= @basecase.name %>
</h1>

<hr>

<h1>EBITDA forecasts</h1>

<% if @basecase.annuals.count < 1%>

<table class="front" summary="For signed-in users">
      <tr>
        <td class="main">
          <%= render 'shared/annual_form' %>
        </td>
      </tr>
  </table>
<% end %>

<% @annuals.each do |annual| %>
   <li>
     <%= link_to annual.year_one, annual %>
     <%if current_user.admin? || current_user.name=='mandeep3' %>


            <%= link_to "edit", edit_annual_path(annual) %>
    <% end%>
    
   </li>
<% end %>

<br/><br/><hr><br/>

<h1>Debt portfolio</h1>

<table class="front" summary="For signed-in users">
      <tr>
        <td class="main">
          <%= render 'shared/borrowing_form' %>
        </td>
      </tr>
  </table>

<% @borrowings.each do |borrowing| %>
   <li>
     <%= link_to borrowing.size, borrowing %>
     <%if current_user.admin? || current_user.name=='mandeep3' %>

            <%= link_to "delete", borrowing,   :method => :delete,
                                               :confirm => "You sure?" %>
            <%= link_to "edit", edit_borrowing_path(borrowing) %>
    <% end%>
   </li>
<% end %>

<br/><br/><hr><br/>

<h1>Total debt</h1>
<% total = 0 %>
<% @total_debt.each do |total_debt| %>
     <% total = total_debt.size + total  %>  
<% end %>
<%= total %>

<br/><br/><hr><br/>

<h1>Fixed/float mix</h1>

<% fixed_float_name = [] %>
<% fixed_float_amount = []%>

<% @float_percent.each do |fixed_float, debt| %>  
  <% total_float = 0 %>
  <h3><%= fixed_float %></h3>
  <% fixed_float_name << fixed_float %>  
    <% debt.each do |debt| %>
      <% total_float = total_float + debt.size %>  
    <% end %>
  <% if total > 0 %>  
    <%= (total_float/total * 100).round(2) %>%
  <% else %>
    <%= 0 %>
  <% end %>
  <% fixed_float_amount << total_float %>
<% end %> 
<br />
<img src="<%=Gchart.pie(:data => fixed_float_amount, :labels => fixed_float_amount, :legend => fixed_float_name)%>">

<br/><br/><hr><br/>

<h1>Currency mix of debt</h1>

<% currency_name = [] %>
<% currency_amount = []%>

<% @currency_percent.each do |currency, debt| %>  
  <% total_currency = 0 %>
  <h3><%= currency %></h3>
  <% currency_name << currency %>      
    <% debt.each do |debt| %>
      <% total_currency = total_currency + debt.size %>  
    <% end %>    
  <% if total > 0 %>  
      <%= (total_currency/total * 100).round(2) %>%
  <% else %>
    <%= 0 %>
  <% end %>
  <% currency_amount << total_currency %>
<% end %> 
<br />
<img src="<%=Gchart.pie(:data => currency_amount, :labels => currency_amount, :legend => currency_name)%>">


<br/><br/><hr><br/>

<h1>Term mix</h1>

<% term_name = [] %>
<% term_amount = []%>

<% @maturity_percent.each do |term, debt| %>  
  <% total_term = 0 %>
  <h3><%= term %> years </h3>
  <% term_name << term %>    
    <% debt.each do |debt| %>
      <% total_term = total_term + debt.size %>  
    <% end %>
  <% if total > 0 %>   
      <%= (total_term/total * 100).round(2) %>%
  <% else %>
    <%= 0 %>
  <% end %>
  <% term_amount << total_term %> 
<% end %>
<br />
<img src="<%=Gchart.pie(:data => term_amount, :labels => term_amount, :legend => term_name)%>">

<br/><br/><hr><br/>

<h1>Macaulay duration</h1>
<% if total > 0 %> 
 <%= (@basecase.macaulay_duration(@basecase.id)/total).round(2) %>
<% else %>
   <%= 0 %><br />
<% end %> 

<br/><br/><hr><br/>

<h1>Annul interest expense</h1>
<% year_count = 0 %>
<% year_amount = [] %>
<% year = ['year 1', 'year 2', 'year 3'] %>
<% year.each do |year|%>
    
    <h3><%= year %></h3>
    <% total = 0 %> 
    <% @total_debt.each do |total_debt| %>
         <% if (total_debt.maturity_year - Time.now.year - year_count) > 0 %>            
            <% total = (total_debt.size * total_debt.coupon) + total  %>
         <% else %>
            <% total = total + 0 %>
         <% end %> 
    <% end %>
    <%= total %>
    <% year_amount << total %> 
    <% year_count = year_count + 1 %>
<% end %>
<br />
<img src="<%=Gchart.bar(:data => year_amount, :labels => ['year 1', 'year 2', 'year 3'], :bar_width_and_spacing => [19,40], :legend => year_amount)%>">
<br/><br/>
