<h1>
  <%= @basecase.name %>
</h1>


<% if @basecase.annuals.count < 1%>

<table class="front" summary="For signed-in users">
      <tr>
        <td class="main">
          <%= render 'shared/annual_form' %>
        </td>
      </tr>
  </table>
<% end %>


<% @annuals.each do |annual| %>
   <li>
     <%= link_to annual.year_one, annual %>
     <%if current_user.admin? || current_user.name=='mandeep3' %>


            <%= link_to "edit", edit_annual_path(annual) %>
    <% end%>
    
   </li>
<% end %>


<table class="front" summary="For signed-in users">
      <tr>
        <td class="main">
          <%= render 'shared/borrowing_form' %>
        </td>
      </tr>
  </table>

<% @borrowings.each do |borrowing| %>
   <li>
     <%= link_to borrowing.size, borrowing %>
     <%if current_user.admin? || current_user.name=='mandeep3' %>

            <%= link_to "delete", borrowing,   :method => :delete,
                                               :confirm => "You sure?" %>
            <%= link_to "edit", edit_borrowing_path(borrowing) %>
    <% end%>
   </li>
<% end %>


<h1>Total debt</h1>
<% total = 0 %>
<% @total_debt.each do |total_debt| %>
     <% total = total_debt.size + total  %>  
<% end %>
<%= total %>


<h1>Fixed debt</h1>
<% fixed = 0 %>
<% @fixed_percent.each do |fixed_percent| %>
     <% fixed = fixed_percent.size + fixed  %>  
<% end %>
<% if total > 0 %>
  <%= ((fixed/total)*100).round(2) %>
<% else %>
  <%= 0 %>
<% end %>


<h1>Currency mix of debt</h1>
<% @currency_percent.each do |currency, debt| %>  
<% total_currency = 0 %>
<h2><%= currency %></h2>  
  <% debt.each do |debt| %>
    <% total_currency = total_currency + debt.size %>  
  <% end %>  
<% if total > 0 %>
  <%= (total_currency/total * 100).round(2) %>
<% else %>
  <%= 0 %>
<% end %> 
<% end %>


<h1>Floating percentage of debt</h1>
<% @float_percent.each do |fixed_float, debt| %>  
<% total_float = 0 %>
<h2><%= fixed_float %></h2>  
  <% debt.each do |debt| %>
    <% total_float = total_float + debt.size %>  
  <% end %>  
<% if total > 0 %>
  <%= (total_float/total * 100).round(2) %>
<% else %>
  <%= 0 %>
<% end %> 
<% end %>


<h1>Term mix of debt</h1>
<% @maturity_percent.each do |term, debt| %>  
<% total_term = 0 %>
<h2><%= term %> years </h2>  
  <% debt.each do |debt| %>
    <% total_term = total_term + debt.size %>  
  <% end %>  
<% if total > 0 %>
  <%= (total_term/total * 100).round(2) %>
<% else %>
  <%= 0 %>
<% end %>
<% end %>


<h1>Reset mix of debt</h1>
<% @reset_percent.each do |term, debt| %>  
<% total_reset = 0 %>
<h2><%= term %> years </h2>  
  <% debt.each do |debt| %>
    <% total_reset = total_reset + debt.size %>  
  <% end %>  
<% if total > 0 %>
  <%= (total_reset/total * 100).round(2) %>
<% else %>
  <%= 0 %>
<% end %>
<% end %>


<h1>Macaulay duration</h1>
<%= (@basecase.macaulay_duration(@basecase.id)/total).round(2) %>


