<header>
     <nav class="round">
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <% if current_user %>
                <% if current_user.name == 'mandeep3' %>
                    <li><%= link_to "Environment", environment_path %></li> 
                    <li><%= link_to "Groups", groups_path %></li>  
                    <li><%= link_to "Projects", user_path(current_user) %></li>                
                    <li><%= link_to "Sign out", signout_path %></li> 
                <% else %>

                    <% if current_user.admin? %>
                        <li><%= link_to "Groups", group_path(current_user.group) %></li>   
                    <% end %> 
 
                    <li><%= link_to "Projects", user_path(current_user) %></li>                
                    <li><%= link_to "Sign out", signout_path %></li>
                <% end %>
            <% else %>
                <li><%= link_to "Pricing", pricing_path %></li> 
                <li><%= link_to "Sign in", signin_path %></li>
            <% end %>    
                <li><%= link_to "About", about_path %></li>  
          </ul>
     </nav>
</header>